/********************************************************
	Global HTML Elements
********************************************************/
html {
    height: 100%;
    background: rgb(125,126,125); /* Old browsers */
}

body {
    background: rgb(250, 250, 250);
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
}


/********************************************************
	Font face declaration
********************************************************/

@font-face {
	font-family: 'knovScript';
	src:url('../fonts/Script.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/********************************************************
	Generic HTML Elements (p, a, li...)
********************************************************/

p {
    color: lightgray;
}

p .lead {
    font-size: 14px;
}

.hidden {
    display: none;
}

.strong {
    font-weight: bold;
    color: red;
}

.clear {
    clear: both;
}

.three {
    width: 25%;
}

.six {
    width: 50%;
}

.nine {
    width: 75%;
}


/********************************************************
	Zori specific : layout
********************************************************/

#word-list {
    display: block;
    width: 100%;
    list-style: none outside none;
}

#word-list li {
    display: inline;
    margin-right: 15px;
}

#word-list li a {
    font-size:  20px;
    cursor: pointer;
    font-family: 'knovScript';
}

#word-list li span .hint:after, #word-list li span[data-hint]:after {
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    line-height: 20px;
}

#word-list li:nth-child(3n+3) a {
    color: red;
}

#word-list li:nth-child(3n+2) a {
    color: black;
}

#word-list li:nth-child(3n+1) a {
    color: green;
}

#front-panel-footer {
    width: 50%;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 25%;
}

#word-form {
    bottom: 13px;
    z-index: 13;
    left: 205px;
    margin-left: 20px;
}

/********************************************************
	Zori specific : Header
********************************************************/

#header {
    background-color: rgb(209, 209, 209);
    background-color: rgba(209, 209, 209, 0.1);
    height: 100px;
}

#header h1 {
    width: 64px;
    height: 64px;
    margin: 15px;
    margin-right: 2px;
    font-weight: bold;
    color: #333;
    line-height: 63px;
    font-size: 2em;
    cursor: default;
}

#header #vLogo {
    height: 36px;
    margin-top: 24px;
    padding-left: 0;
    padding-right: 0;
}

#header #oLogo {
    width: 70px;
    margin-left: -30px;
    margin-top: 36px;
    margin-right: -17px;
}

#header p {
    cursor: default;
}

#header blockquote {
    font-size: 21px;
    color: #666666;
    border-left: none;
    text-align: center;
}

#header blockquote:hover {
    cursor: pointer;
    color: red;
}

/*****************************************************
    Footer 
******************************************************/
#marker {
    position: absolute;
    bottom: 10px;
    margin-left: 40px;
    width: 200px;
    height: 37px;
    background-image: url('../images/black-board-marker.png');
    background-size: 100%;
    padding-left: 50px;
    padding-top: 8px;
    cursor: default;
}

input[type=submit] {
    background: #3e9cbf;
    padding: 2px;
    border:1px solid #3e9cbf;
    cursor:pointer;
    font-size:1.5em;
    font-family:Oswald, sans-serif;
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 3px;
}

input[type=submit]:hover, input[type=submit]:focus {
    color:#dfe7ea;
}
