<div class="container-fluid admin-panel">
  <section>
    <p class="lead">
      Where you can manage {{nbWords}} words.
    </p>
  </section>

  <section>
  <header id="header">
    <form id="word-form" ng-submit="addWord()">
      <div class="form-group">
        <div class="input-group">

          <input id="new-word" class="form-control" placeholder="Add a new word" ng-model="newWord" aria-label="Add a new word" autofocus>

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
          </div>

        </div>
      </div>
    </form>
  </header>
  <section id="main">
    <ul id="word-list" class="word-list">
      <li ng-repeat="(id, word) in words">
        <form class="form-inline" ng-submit="doneEditing(id)">
          <div class="form-group">
            <div class="input-group">

              <span class="input-group-addon">
                <input ng-model="word.nbClick" ng-focus="editWord(id)" ng-blur="doneEditing(id)">
              </span>

              <input class="edit form-control" ng-trim="false" ng-model="word.url" ng-focus="editWord(id)" ng-blur="doneEditing(id)">

              <div class="input-group-btn">
                <a ng-href="{{word.url}}" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                <button type="button" class="btn btn-default" ng-click="removeWord(id)"><span class="glyphicon glyphicon-remove"></span></button>
              </div>

            </div>
          </div>
        </form>
      </li>
    </ul>
  </section>
</section>
</div>
